<!-- IF not postrow.S_FIRST_POST and postrow.S_AUTH -->
<li>
	<!-- IF postrow.POST_ID == postrow.BESTANSWER_ID -->
	<a href="{postrow.U_UNMARK_ANSWER}" title="{L_UNMARK_ANSWER}" class="button button-icon-only"><i class="icon fa-times fa-fw" style="color: #D9534F;" aria-hidden="true"></i>{L_BUTTON_UNMARK_ANSWER}<span class="sr-only">{L_BUTTON_UNMARK_ANSWER}</span></a>
	<!-- ELSE -->
	<a href="{postrow.U_MARK_ANSWER}" title="{L_MARK_ANSWER}" class="button button-icon-only"><i class="icon fa-check fa-fw" style="color: #1D9D74;" aria-hidden="true"></i>{L_BUTTON_MARK_ANSWER}<span class="sr-only">{L_BUTTON_MARK_ANSWER}</span></a>
	<!-- ENDIF -->
</li>
<!-- ENDIF -->
